/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-common-wght), 400;
  font-variation-settings: 'wght' var(----main-font-common-wght);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background-color: var(--content-bg);
  font-family: var(--accent-font), monospace;
  text-align: center;
  text-transform: uppercase;
  padding-block: var(--header-padding-block);
  margin-block: var(--margin-block-align);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.flex-behavior {
  inline-size: var(--blocks-width);
  border-block: var(--border);
  border-inline: var(--border);
}

.header-title {
  font-size: var(--header-title-font-size);
  font-weight: inherit;
}

.header-text {
  font-size: var(--header-text-font-size);
}