/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  font-family: var(--accent-font, monospace);
  text-align: center;
  text-transform: uppercase;
  padding-block: var(--header-padding-block);
  margin-block: var(--margin-block-align, 6.25rem);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.flex-behavior {
  inline-size: var(--blocks-width);
  border-block: var(--border);
  border-inline: var(--border);
  background-color: var(--content-bg, #fff);
  margin-inline: auto;
}

.header-title {
  font-size: var(--header-title-font-size);
  font-weight: inherit;
}

.header-text {
  font-size: var(--header-text-font-size);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-block-end: var(--main-margin-block-end);
}

.card {
  padding-block-end: var(--card-text-padding);
}

.card_title {
  font-size: var(--main-font-size, 1.125rem);
  font-weight: var(--main-font-title-wght, 700);
  padding-inline: var(--card-title-inline-padding, 0.625rem);
  padding-block: var(--card-title-block-padding, 0.313rem);
  font-variation-settings: 'wght' var(--main-font-title-wght, 700);
  line-height: 1.313rem;
  border-block-end: var(--border);
}

.card_image-container {
  position: relative;
  border-block-end: var(--border);
}

.image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  display: block;
  aspect-ratio: 1/1
}

.label {
  font-family: var(--accent-font, monospace);
  font-size: var(--accent-font-size-s, 0.875rem);
  position: absolute;
  top: 1.563rem;
  right: 0.688rem;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 rgba(255, 255, 255, 1),
    0 1px rgba(255, 255, 255, 1),
    1px 0 rgba(255, 255, 255, 1),
    0 -1px rgba(255, 255, 255, 1);
}

@supports ((text-stroke: 1px rgba(255, 255, 255, 1)) or (-webkit-text-stroke: 1px rgba(255, 255, 255, 1))) {
  .label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    text-stroke: 1px rgba(255, 255, 255, 1);
    text-shadow: none;
  }
}

.card_text-container {
  padding-block-start: var(--card-text-padding);
  padding-inline: var(--card-text-padding);
  border-block-start: var(--border);
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline-end: var(--card-text-padding);
  gap: 0.375rem;
  margin-block-start: 1.438rem;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background-color: inherit;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  border-inline: var(--border);
  border-block: var(--border);
  background-color: var(--content-bg);
  color: var(--content-bg);
  font-family: var(--accent-font, monospace);
  font-size: var(--accent-font-size-s, 0.875rem);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  padding-block: var(--like-button-block-padding);
  padding-inline: var(--like-button-inline-padding);
  min-inline-size: 8.125rem;
}

.save-button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding-block: var(--save-button-padding-block);
  padding-inline: var(--save-button-padding-inline);
}

.button__text {
  mix-blend-mode: difference;

}

.button__svg {
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.dialog {
  /* inline-size: var(--dialog-inline-size);
  border-inline: var(--border);
  border-block: var(--border);  для коррекции замечания */
  padding-block: var(--dialog-padding-block);
  padding-inline: var(--dialog-padding-inline);
  margin-inline: auto;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  place-items: center;
  row-gap: 30px;
  /* position: fixed;
  inset: 0; */
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__svg {
  block-size: 39px;
  inline-size: 39px;
}

.dialog-modal-button {
  padding-block: var(--dialog-modal-button-padding-block);
  padding-inline: var(--dialog-modal-button-padding-inline);
  grid-column: 1 / span 2;
}

.dialog-text {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size-s);
  line-height: 1.5em;
  text-transform: uppercase;
}

.dialog-modal-button__text {
  text-transform: uppercase;
  line-height: 0.9em;
}

.filter-brightness-150 {
  filter: brightness(150%);
}

.filter-saturate-200 {
  filter: saturate(200%);
}

.filter-brightness-85 {
  filter: brightness(85%);
}

.filter-hue-rotate {
  filter: hue-rotate(320deg);
}

.filter-sepia {
 filter: sepia(80%);
}

.filter-blur-contrast {
  filter: blur(3px) contrast(80%);
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-saturate-150 {
  filter: saturate(150%);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .dialog {
    inline-size: 100%; /*для коррекции блока */
  }
}

@media (width > 375px) {
  .save-button {
    flex-direction: row;
  }

  .button__svg {
    width: 21px;
    height: 21px;
  }
}

@media (width >= 1440px) {
  .label {
  top: 1.688rem;
  right: 1.563rem;
  }
}